body{
    margin: 0;
} 

header, #containerSlider, #containerHome, #container-encode, #container-decode{
    padding: 1em 2em;
}

#containerSlider, #containerHome, #container-encode, #container-decode, footer{
    float: left;
    box-sizing: border-box;
    width: 100%;
   
}

#containerSlider{
    height: 300px;
}

#containerHome,#container-encode,#container-decode{
    height: 520px;
}

#containerHome{
    text-align: center;

}

#containerSlider{
    padding: 0px;
    background-image: url(img/call-centers5.jpg);
    background-size: cover;
}
.root.left{
    margin-right: 50px;
}


header{
    background-color: #252932;
    color: beige;
}

.icon_help >h2{
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

footer{
    background-color: black;
}


.root{
    display: inline-block;
    width: 200px;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
}


p.title{
   font-family:  "Montserrat", sans-serif;
   color:#334350;
   margin-top: 20px;
   margin-bottom: 10px;
   font-size: 20px;
}

#btnDescriptar, #btnEncriptar {
    margin-top: 10px;
}

#containerHome > h3{

    text-align: center;
    font-size: 3rem;
    font-family: Raleway;
    color: black;

}

/* MEDIA QUERY */
@media screen and (max-width:480px) {

    header{
        
        text-align: center;
    }
}