@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC|Righteous');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans SC', sans-serif;
    background-color: #f3f3f3;
}

h1 , h2, h3{
    font-family: 'PT Sans', sans-serif;
}

h1{
    font-size: 20px;
}
header{
    width: 100%;
    height: 70px;
    top: 0;
    left:0;
    background-color: #31333e;
    color: beige;
    text-align: left;
    
}


main{
    background-color: #f3f3f3;
 
   
}

.container{
    width: 95%;
    margin: auto;
   
}

#title,#logo{
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
    font-size: 25px;
}
#menu_bar{
    
    vertical-align: top;
    padding-top: 20px;
    float: right;
    cursor: pointer;
    font-size: 20px;

}
#logo{
  max-width: 100%;
 
    
}



section{
    width: 100%;
    margin-bottom: 50px;
}

section #container_home{
    margin-bottom: 0px;
}

/**** BANNER *****************/

.banner{
     max-width: 100%;
     height: auto;

}


/******* HOME **********************/

#container_home h3{
    margin-bottom: 25px;

}
#container_home{
    text-align: center;
}

#container_home .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.root{
    width: 100%;
    padding: 10px;
  
    margin-bottom: 50px;
}
.root.left , .root.rigth{
    background-color: #fff;
}

.root > h1{
    text-transform: uppercase;
    font-size: 20px;
    color: #8C9899;
    margin: 10px 0 10px;
}

.root >p{
    font-size: 14px;
    color: #888888;
    line-height: 1.5em;
}
.root >#btn_encriptar , .root>#btn_descriptar{
    color: #fff;
    background-color: #62A29E;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 12px 30px;
    font-size: 18px;
    line-height: 20px;
    border: none;
    margin-top: 40px;
    cursor: pointer;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li{
position: relative;
padding: 0.75em 1.875em 0.75em 0;
border-bottom: 1px solid #dfe3e8;
text-align: center;
}

footer{
 
    width: 100%;
    height: 50px;
    font-family: 'PT Sans',sans-serif;
    background-color: black;
    text-align: center;
}

#text_footer{
    color: #f69323;
    padding-top: 10px
}
#text_footer>span{
    color:white;
    
}



#container_encode,#container_decode,#message,#result_480,aside{
    height: 200vh;
    margin: 0px;
 }
 .group_icon{
    padding-bottom: 90px;
}

.firefighting{
    margin-bottom: 30px;
    cursor: pointer;
}

.firefighting > div >p {
   text-align: center;
   color: #f4f4f4;
    margin: 4px;
}

#btn_encode, #offset , #message_ncode, #btn_decode, #offset_decode , #message_decode{
    width: 100%;
}

.insert_message{
    border-radius: 5px;
    background-color: #474f70;
    padding: 20px;
    margin: 20px;
    color: #f4f4f4;
    
}
.insert_message.result{
    height: 350px;
}

#message_result{
    border-radius: 12px;
    background-color: #fffdd9;
    padding: 20px;
    margin: 20px;
    color: #31333e
}
.instructions{
    border-radius: 12px;
    background-color: #fffdd9;
    padding: 20px;
    margin: 20px;
    color: #31333e
}
.instructions .title_instructions{
    text-decoration: underline;
    text-align: center;
}
#message{
    display: none;
}

#result{
    display: none;

}
#result_480{
    width: 100%;
    display:block;
    background-color:#607d8b;
    text-align: center;

}

#message_encode {
    width: 100%;
}
#message_decode{
    width: 100%
}

#message_two{
    float: left;
    width: 100%;
  
    color: #f4f4f4;
}


#btn_encode , #btn_decode{
    width: 100%;
    margin: 8px 0;
    padding: 12px 2px;
    background-color: #f69323;
    color:white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    
}

#btn_encode:hover, #btn_decode:hover{
    background-color: #334350;
}

input { 
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    vertical-align: top;
    
    }
    .group_icon h1{
        color: #f5f5dc;
        margin-bottom: 25px;
        text-decoration: underline;
        padding-top: 50px;
    }
      .group_icon h3{
        color: #fffdd9;
        margin-bottom: 5px; 
        padding-bottom: 30px;

      }



/**MEDIAQUERY **/


@media screen  and (min-width:480px) and (max-width:780px) {
.root{
        width: 100%;
       
        margin-bottom: 50px;
    
}

.root >#btn_encriptar , .root>#btn_descriptar{
    
    margin-top: 20px;
}

footer{
    text-align: left;
}





}


@media screen and (min-width:780px) and (max-width:1024px){
    .root{
        width: 100%;
      
        padding-left: 50px ;
        padding-right: 50px;
    }

    #container_encode, #container_decode, #message, #result_480, aside {
        height: 200vh;
       
    }
   

    .root >#btn_encriptar , .root>#btn_descriptar{
    
        margin-top: 20px;
    }

    header{
      
        text-align: left;
        
    }
    footer{
        text-align: left;
    }
    #result_480{
      
        display:none;
       
    }
   
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        
   }

   li{
    position: relative;
    padding: 0.75em 1.875em 0.75em 0;
    border-bottom: 1px solid #dfe3e8;
    text-align: left;
   }
    #result{
        display:block;
        float: left;
        width:20%;
        background-color:#607d8b;
        text-align: center;
    }

    #message{
        display: block;
        float: left;
        width: 80%;
        background-color: #ecf7fe;
        color: #f4f4f4;
    }
    .firefighting {
        margin-left: 10px;
   
    }
    .firefighting{
        margin: 10px;
        padding-top: 20px;
    }
    .group_icon{
        padding-top: 45px;
    }

}

@media screen and (min-width:1024px) and (max-width:1316px) { 

    .root{
        width: 40%;
        
       
    }
    
    .root.rigth{
        margin-left: 20%;
        
    }
    .root >#btn_encriptar , .root>#btn_descriptar{
    
        margin-top: 50px;
    }

    section{
        
        margin-bottom: 80px;
    }

    header{
      
        text-align: left;
        
    }
    footer{
        text-align: left;
    }

    #result_480{
      
        display:none;
       
    }

    #result{
      
        display:block;
       
    }
    #result{
        float: left;
        width:20%;
        background-color:#607d8b;
        text-align: center;
    }
    .firefighting{
        margin: 10px;
        padding-top: 20px;
    }

    #message{
        display: block;
        float: left;
        width: 80%;
        background-color: #ecf7fe;
        color: #f4f4f4;
    }
    #offset,#offset_decode{

        width: 19%
    }
    
    #message_encode , #message_decode{
        width: 70%
    }
    
    #btn_encode , #btn_decode{
        width: 10%;
        margin: 8px 0;
        padding: 12px 2px;
        background-color: #f69323;
        color:white;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        
    }
}

@media screen and (min-width:1316px) and (max-width:1440px)  { 

    .root{
        width: 25%;
      
        padding: 20px;
    }
    .root >#btn_encriptar , .root>#btn_descriptar{
    
        margin-top: 40px;
    }
    .root.rigth{
        margin-left: 20%;
        
    }

    header{
      
        text-align: left;
        
    }
    footer{
        text-align: left;
    }

    #result_480{
      
        display:none;
       
    }
    #result{
      
        display:block;
       
    }

    #result{
        float: left;
        width:10%;
        background-color:#607d8b;
        text-align: center;
    }

    .firefighting{
        padding-bottom: 20px;
        }
    #message{
        display: block;
        float: left;
        width: 90%;
        background-color: #ecf7fe;
        color: #f4f4f4;
    }
    #offset,#offset_decode{

        width: 19%
    }
    
    #message_encode , #message_decode{
        width: 70%
    }
    
    #btn_encode , #btn_decode{
        width: 10%;
        margin: 8px 0;
        padding: 12px 2px;
        background-color: #f69323;
        color:white;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        
    }

}

@media screen and (min-width:1440px)  { 

    .root{
        width: 25%;
        
        padding: 20px;
    }
    
    .root.rigth{
        margin-left: 20%;
        
    }
    .root >#btn_encriptar , .root>#btn_descriptar{
    
        margin-top: 30px;
    }

    section{
        
        margin-bottom: 80px;
    }
    header{
      
        text-align: left;
        
    }
    footer{
        text-align: left;
    }
    #result_480{
      
        display:none;
       
    }

    #result{
      
        display:block;
       
    }
    #result{
        float: left;
        width:10%;
        background-color:#607d8b;
        text-align: center;
    }

    .firefighting{
        margin: 10px;
        padding-top: 20px;
    }
    #message{
        display: block;
        float: left;
        width: 90%;
        background-color: #ecf7fe;
        color: #f4f4f4;
    }
    #offset,#offset_decode{

        width: 12%e
    }
    
    #message_encode , #message_decode{
        width: 77%
    }
    
    #btn_encode , #btn_decode{
        width: 10%;
        margin: 8px 0;
        padding: 12px 2px;
        background-color: #f69323;
        color:white;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        
    }
}


